{% extends "basem.html" %} 

{% block title %}{% endblock %}

{% block content %}

    <div class="containers">
    <div class="container">
        <div class="mResults">
            <div class="sLine">
                <span class="s1">
                    <h1>1</h1>
                </span>
                <span class="mid">
                    <h1>:</h1>
                </span>
                <span class="s2">
                    <h1>1</h1>
                </span>
            </div>
            <div class="tNames">
                <span class="ts1">
                    <h2>New York Rangers</h2>
                </span>
                <span class="ts2">
                    <h2>Detroit Red Wings</h2>
                </span>
            </div>
            <div class="tSheets">
                <span class="tl1">
                    <p>
                        Forwards:
                    </p>
                    <ul>
                        <li>-Kyle Johnson</li>
                        <li>-Tyler White</li>
                        <li>-Sam Evans</li>
                    </ul>
                    <p>Defence:</p>
                    <ul>
                        <li>-Chris Carters</li>
                        <li>-Jake Wilson</li>
                    </ul>
                    <p>Goaltender:</p>
                    <ul>
                        <li>Patrick Stevens</li>
                    </ul>
                </span>
                <span class="tl2">
                    <p>
                        Forwards:
                    </p>
                    <ul>
                        <li>-Ethan Hayes</li>
                        <li>-Matt Peterson</li>
                        <li>-Aaron Foster</li>
                    </ul>
                    <p>Defence:</p>
                    <ul>
                        <li>-Ryan Moore</li>
                        <li>-Alex Cooper</li>
                    </ul>
                    <p>Goaltender:</p>
                    <ul>
                        <li>Daniel Brooks</li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
    <div class="contain">
        {% if lineups != None: %}
        {% for tLineup in lineups %}
        <div class="highlight">
            <img src="{{ tLineup['source'] }}">
            <div class="title">
                <h2>{{ tLineup['title'] }}</h2>
            </div>
            <div class="body">
                <p>{{ tLineup[body] }}</p>
            </div>
          
        </div>
    </div>
        {% endfor %}
        {% endif %}
    </div>

<nav class="bottombar">
    <div class="icons">
  <i class="fa-solid fa-house"></i>
  <i class="fa-solid fa-bell"></i>
  <i class="fa-solid fa-heart"></i></div></nav>
  <div>
    
  
{% endblock %}
{% block scripts %}


{% endblock %}