{% extends "basem.html" %} 

{% block title %}4 The Fans{% endblock %}

{% block content %}
<body>
    

<div>
    <div class="topbar">
        <h1>4 The Fans</h1>
    </div>
    <div class="container">
        
        <div class="card">
            <span>
            {% if lineups != None: %}
            {% for tLineup in lineups %}
            <div class="half1">
                <div class="top">
                        <div class="scores">
                            <h1>{{ tLineup['score'] }} </h1> 
                        </div>
                        <div class="teams">
                            <h2>{{ tLineup['teamName'] }}</h2>
                        </div>                    
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if lineups != None: %}
            {% for tLineup in lineups %}
            <div class="half2">      
                <div class="lineups">
                    <div class ="attack">
                        <p>{{ tLineup['fLineup'] }}</p>
                    </div>
                    <div class ="defence">
                        <p>{{ tLineup['dLineup'] }}</p> 
                    </div>
                    <div class="goaldefender">
                        <p>{{ tLineup['gLineup'] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            </span>
            
            
        </div>

    </div>

</div>

</body>

{% endblock %}
{% block scripts %}

{% endblock %}