{% extends "basep.html" %} 

{% block title %}4 The Fans{% endblock %}

{% block content %}
<div>
    <div class="topbar">
        <h1>4 The Fans</h1>
    </div>
    <div class="pnews">
        <h2>Trade News</h2>
    </div>
    <div class="container">
        {% if trades != None: %}
        {% for trade in trades %}
        <div class="card">
            <img src="{{ trades['source'] }}">
            <div class="title">
                <h2>{{ trade['title'] }}</h2>
            </div>
            <div class="body">
                <p>{{ trade[body] }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}