<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weekly statistics</title>
    <div class="topbar">
        <h1>4 The Fans</h1>
    </div>
 
    <link rel="stylesheet" href="static/css/wstats.css">
    <link rel="stylesheet" href="static/css/wstats.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doppio+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<body>
    <div class="TeamRankings">
        <h2>
        Team Rankings
        </h2>
    <div class="Rankingstable">
    <div class="h2rankingstableleft"><table>
<div class="Teamrankingsbox">
<tr>
<td>1 Detroit Red Wings</td></tr>
<tr>
<td>2 New York Rangers</td></tr>
<tr>
<td>3 Black Devils</td></tr>
<tr>
<td>4 The Chipolopolos</td></tr>
<tr>
<td>5 Florida Panthers</td></tr>
</table></div class="h2rankingstableleft">
<div class="h2rankingstableright">
    <table>
        <tr><td>6 Ottawa Senators</td></tr>
        <tr><td>7 Boston Bruins</td></tr>
        <tr><td>8 Winnepeg Jets</td></tr>
        <tr><td>9 Dallas Stars</td></tr>
        <tr><td>10 Calgary Flames</td></tr>
    </table>
</div class="h2rankingstableright">

</div class="Rankingstable">
</div class="Teamrankingsbox">
</div class="TeamRankings">
<div class="weeklystatistics">
    {% if weeklystatistics != None: %}
    {% for weeklystatistics in weeklystats%}
        <div class="weeklystats">
          <h2 class="roboto-body">{{ weeklystats['body'] }}</h2>
        </div>
    {% endfor %}
    {% endif %}
</div>
    </body>
</head>
</html>
