*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.doppio-one-regular {
    font-family: "Doppio One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.topbar{
    height: 6.875rem;
    width: 100%;
    margin:0%;
    background-color: #8483E2;
}

.topbar h1{
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 4rem;
    color: var(--Foundation-White-Smoke-white-smoke-200, #FAFAFA);
    text-align: center;
    font-family: "Doppio One";
    font-size: 2.0025rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logins{
    margin-top: 35%;
    margin-bottom: 20%;
    object-position: center;
}

.login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 12%;
    display: flex;
    width: 21.875rem;
    height: 6.25rem;
    padding-top: 1.05263rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.33625rem;
    flex-shrink: 0;
}

.login h1{
    color: var(--Foundation-Night-night-600, #090909);
    font-family: "Doppio One";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2%;
}

.uInput{
    outline: none;
    stroke: none;
    stroke-opacity: 0%;
}

.uInput input{
    width: 21.875rem;
    height: 3.53775rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--Foundation-White-Smoke-white-smoke-200, #FAFAFA);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border:transparent;
}

.button{
    width: 22rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 10%;
    
}



.b1{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--Foundation-Slate-Blue-slate-blue-500, #6564DB);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--Foundation-White-Smoke-white-smoke-200, #FAFAFA);
    text-align: center;
    font-family: "Doppio One";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: transparent;
}



.b2{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 0.625rem;
    outline: 0;
    color: #000;
    text-align: center;
    font-family: "Doppio One";
    font-size: 1.40625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: transparent;
    background-color: transparent;
}
