*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.doppio-one-regular {
    font-family: "Doppio One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.topbar{
    height: 6.875rem;
    width: 100%;
    margin:0%;
}

.topbar h1{
    font-size: 1.602rem;
    background-color: #8483E2;
    color: #EBF5EE;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 4rem;
}



.mResults{
    height: 20rem;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #FAFAFA;
    border-radius: 12%;
    box-shadow: 0rem 0rem 0.5rem ;
    flex-shrink: 0;
}

.sLine{
    height: 40px;
    display: flex;
    background-color: #48479B;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}

.sLine h1{
    background-color: transparent;
    color: var(--Foundation-White-Smoke-white-smoke-200, #FAFAFA);
    text-align: center;
    font-family: "Doppio One";
    font-size: 32.04px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.25rem;
}

.s1{
    width: 45%;
    height:100%;
    background-color: transparent;
}

.mid{
    width: 10%;
    height:100%;
    background-color: transparent;
}

.s2{
    width: 45%;
    height:100%;
    background-color: transparent;
}

.tNames{
    height:40px;
    display: flex;
    background-color: #48479B;
    padding-top: 0.2rem;
}

.tNames h2{
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-family: "Doppio One";
    font-size: 17.78px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ts1{
    width: 50%;
    background-color: transparent;
}

.ts2{
    width: 50%;
    background-color: transparent;
}

.tSheets{
    height:200px;
    display: flex;
    margin-top: 1rem;
    background-color: transparent;
}

.tSheets p{
    background-color: transparent;
    color: var(--Foundation-Night-night-500, #0A0A0A);
    font-family: "Doppio One";
    font-size: 0.86813rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 0.2rem;
}

.tl1{
    width: 50%;
    background-color: transparent;
    margin-left: 1rem;
}

.tl1 p{
    margin-left: 0.5rem;
    font-family: "Doppio One";
    font-size: 0.86813rem;
    text-align: left;
}

.tl1 li{
    margin-left:1.8rem;
    font-family: "Doppio One";
    font-size: 0.86813rem;
}
.tl2{
    width: 50%;
    background-color: transparent;
}

.tl2 p{
    margin-left: 0.5rem;
    font-family: "Doppio One";
    font-size: 0.86813rem;
    text-align: left;
}

.tl2 li{
    margin-left:1.8rem;
    font-family: "Doppio One";
    font-size: 0.86813rem;
}



.highlight{
    height: 20rem;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #5C5BC7;
    border-radius: 12%;
    box-shadow: 0rem 0rem 0.5rem ;
}

.highlight img{
    width: 100%;
    height: 15.04644rem;
    object-fit: cover;
    background-size: cover;
    border-top-right-radius: 12%;
    border-top-left-radius: 12%;
}

.title{
    color: #EBF5EE;
    font-size: 0.889rem;
    padding: 1%;
    background-color: transparent;
    text-align: center;
}

.title h2{
    background-color: transparent;
    
}
