*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.doppio-one-regular {
    font-family: "Doppio One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  



.pnews{
    display: flex;
    width: 380px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: #48479B;
    box-shadow: 0rem 0rem 0.2rem ;
}

.pnews h2{
    color: #FAFAFA;
    text-align: center;
    background-color: transparent;
}

.card{
    height: 20rem;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #5C5BC7;
    border-radius: 12%;
    box-shadow: 0rem 0rem 0.5rem ;
    flex-shrink: 0;
    
}

.card img{
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 75%;
    object-fit: cover;
    background-size: cover;
    border-top-right-radius: 12%;
    border-top-left-radius: 12%;
    
    
    
}


.title{
    color: #EBF5EE;
    font-size: 0.889rem;
    padding: 1%;
    background-color: transparent;
    text-align: center;
}

.body p{
    color: #EBF5EE;
    padding: 2%;
    padding-left: 6%;
    background-color: transparent;
    
}

.title h2{
    background-color: transparent;
    
}

.body{
    background-color: transparent;
    padding-bottom: 3rem;
}

.bottombar{
    margin-top: 0.5rem;bottom: 0; position: fixed; overflow: scroll; height: 4rem; background-color:#D9D9D9; width: 100%;
    
}
.fa-solid.fa-heart,.fa-solid.fa-bell,.fa-solid.fa-house{
    width: 1rem;justify-content: space-evenly;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.icons{
    display: flex; justify-content: space-evenly; text-align: center; font-size: 2rem;
}
.user{width: 20%; margin-left: 2rem;}
.name{color: var(--Foundation-White-Smoke-white-smoke-200, #FAFAFA);
text-align: center;

/* Heading 3 - 32.04px */
font-family: "Doppio One";
font-size: 2.0025rem;
font-style: normal;
font-weight: 400;
line-height: normal;
justify-content: end;
width: 60%;

}
.topbar {display:flex;align-items: end;justify-content: space-evenly;background-color:#8483E2;color: white;height: 100px;font-size: xx-large;padding-bottom: 1rem;width: 100%;margin-bottom: 2rem;}
.parent{display: flex; justify-content: space-evenly;}
.container{padding-bottom: 6rem;}

