*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.doppio-one-regular {
    font-family: "Doppio One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.topbar{
    height: 6.875rem;
    width: 100%;
    margin:0%;
}

.topbar h1{
    background-color: #8483E2;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 4rem;
    color: var(--Foundation-White-Smoke-white-smoke-200, #FAFAFA);
    text-align: center;
    font-family: "Doppio One";
    font-size: 2.0025rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.setting{
    display: flex;
    width: 80%;
    margin-left: 6%;
    margin-top: 2rem;
}

.setting h1{
    color: var(--Foundation-Night-night-500, #0A0A0A);
    text-align: center;
    font-family: "Doppio One";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.setting i{
    font-size: 2rem;
}

.arrow{
    margin-left: 20%;
}

.space{
    width: 3%;
}

.title{
    margin-top: auto;
    margin-bottom: auto;
}

.bar{
    background-color: #D9D9D9;
    width: 24.375rem;
    height: 3.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1.25rem;
    display: flex;  
}

.name{
    text-align: center;
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.name h1{
    color: var(--Foundation-Night-night-500, #0A0A0A);
    text-align: center;
    font-family: "Doppio One";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon1{
    width:10%;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;
}

.icon2{
    width: 10%;
    margin-right:auto;
}

.bar i{
    font-size: 2rem;
}

.bottombar{
    margin-top: 0.5rem;bottom: 0; position: fixed; overflow: scroll; height: 5rem; background-color: #D9D9D9; width: 100%;
}
.fa-solid.fa-heart,.fa-solid.fa-bell,.fa-solid.fa-house{
    width: 1rem;justify-content: space-evenly;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.icons{
    display: flex; justify-content: space-evenly; text-align: center; font-size: 2rem; margin-top: auto; margin-bottom: auto;
}

