*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    width: 100%;
    height: 10%;
    background-color: #283044;
    color: #EBF5EE;
    text-align: center;
    font-size: larger;
    margin-bottom: 30px;
    padding: 2%;
}

.container{
    margin: 10%;
    
}

.card{
    width: auto;
    height: 30rem;
    padding-bottom: 0%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: #283044;
    border-radius: 12%;
    
    
}

.card img{
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 75%;
    object-fit: cover;
    background-size: cover;
    border-top-right-radius: 12%;
    border-top-left-radius: 12%;
    
    
    
}


.title{
    color: #EBF5EE;
    font-size: larger;
    padding: 1%;
    padding-left: 6%;
    background-color: transparent;
}

.body p{
    color: #EBF5EE;
    padding: 2%;
    padding-left: 6%;
    background-color: transparent;
}

.title h2{
    background-color: transparent;
}

.body{
    background-color: transparent;
}