*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAFAFA;
}

.topbar{
    height: 6.875rem;
    width: 100%;
    margin:0%
}

.topbar h1{
    font-size: 1.602rem;
    background-color: #8483E2;
    color: #EBF5EE;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 4rem;
}

.TeamRankings{
    color: #000000;
    text-align: center;
    font-family: "Doppio One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #48479B;
    margin-bottom: 30px;
}

.TeamRankingsbox{
    display: flex;
    width: 380px;
    height: 243px;
    padding: 0px 0px 3.115px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.h2rankingstableleft{
    font-family: "Doppio One";
    font-size: 13.89px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h2rankingstableright{
    font-family: "Doppio One";
    font-size: 13.89px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h2{
    width: 380px;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 15px 15px 0px 0px;
    background: var(--Foundation-Slate-Blue-slate-blue-700, #48479B);
    }
    .Rankingstable{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3rem;
    height: 10rem;
    width: auto;
    margin-top: 1rem;
    display: flex;
    }

.h2rankingstableright td{
    font-family: "Doppio One";
    font-size: 13.89px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4rem;
}
