*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAFAFA;
}

.topbar{
    height: 6.875rem;
    width: 100%;
    margin:0%;
}

.topbar h1{
    font-size: 1.602rem;
    background-color: #8483E2;
    color: #EBF5EE;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 4rem;
}

.TeamRankings{
    color: #000000;
    text-align: center;
    font-family: "Doppio One";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 376px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 15px 15px 0px 0px;
    background-color: #48479B;
}

.TeamRankingsbox{
    display: flex;
    width: 380px;
    height: 243px;
    padding: 0px 0px 3.115px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}