*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar{
    height: 6.875rem;
    width: 100%;
    margin:0%
}

.topbar h1{
    font-size: 1.602rem;
    background-color: #8483E2;
    color: #EBF5EE;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 4rem;
}

.TeamRankings{
    color: #000000;
    text-align: center;
    font-family: "Doppio One";
    width: 90%;     
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
    height: 40%;
    border-radius: 15px 15px 0px 0px;
    padding-left: 1rem;
   }

.TeamRankingsbox{
    display: flex;
    width: 380px;
    height: 243px;
    padding: 0px 0px 3.115px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.h2rankingstableleft{
    width: 50%;
    background-color: #F0F0FB;
    padding-top: 1rem;
    border-radius: 0px 0px 0px 15px;
}
.h2rankingstableright{
    width: 50%;
    background-color: #F0F0FB;
    padding-top: 1rem;
    border-radius: 0px 0px 15px 0px;
}
h2{
    width: 360px;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 15px 15px 0px 0px;
    background-color: #48479B;
    color: #FFF;    
    }
    .Rankingstable{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 12rem;
    width: 360px;
    display: flex;
    text-align: left;
    font-family: "Doppio One";
    font-size: 13.89px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
    }

td{
    margin-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.card img {
    border-radius: 50%;
    width: 94.527px;
    height: 113.125px;
    flex-shrink: 0;
}

.card h3{
    color: var(--Foundation-Night-night-500, #0A0A0A);
text-align: center;
font-family: "Doppio One";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.card p{
    color: var(--Foundation-Night-night-500, #0A0A0A);
text-align: center;
font-family: "Doppio One";
font-size: 13.89px;
font-style: normal;
font-weight: 400;
line-height: normal;
}